main{
    min-height: 80vh;
}

.pro-price{
    padding: 0.8rem 0;
}

.rating span{
    margin: 0.05rem;
}

.product .go-back:hover, .cart .remove-item:hover{
    background-color: #ddd;
}

h1{
    font-size: 1.8rem;
    padding:1rem 0;
}
  
h2{
    font-size: 1.4rem;
    padding:0.5rem 0;
}
